doctype html
html
  head
    title
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel='stylesheet', type='text/css', href='/bootstrap/theme/bootstrap.united.css')
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    script(src='/jQuery/jquery-1.12.0.min.js')
    script(src='twbsPagination/jquery.twbsPagination.js')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='js/main.js')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='#') nataila's Blog
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/')
                首页
                span.sr-only (current)
            li
              a(href='#') xx
          form.navbar-form.navbar-right(role='search', method='GET', action='/')
            .form-group
              input.form-control(type='text', name='search', placeholder='搜索文章', value='#{searchParam}')
            button.btn.btn-default(type='submit') 搜索
    .container
      .row
        .main-left.col-md-8
          .post-main
          block postMain
        .col-md-4.main-right
          if tagList
            div
              h3.tags-title 标签分类
              each tag in tagList
                p.tag
                  a(href="#{tag._id}") #{tag.name}
                  span (#{tag.count})
            div
              h3.tags-title 近期文章
              each post in newPostList
                p.tag
                  a(href="/detail/#{post._id}") #{ post.title }
